.divider:after,
.divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;

	background: rgb(109, 172, 231)
}

.h-custom {
	height: calc(100% - 73px);
}

@media (max-width: 450px) {
	.h-custom {
		height: 100%;

	}
}

.btn btn-outline-primary {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.login-form .form-control {
	background-color: #fff;
	height: 50px;
	color: #191a1e;
	border: none;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 25px;
}

.login-form .submit-btn {
	color: #fff;
	background-color: #e48b8b;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 50%;
	border-radius: 40px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}